# The API URL of the backend server.
# By default, it will use http://localhost:3000 in development,
# and https://backend-latest-uiwp.onrender.com in production.
VITE_API_URL=https://backend-latest-uiwp.onrender.com
